{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/assignment.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
&gt;
{{ course.semester_str }}
&gt;
<a href="{% url 'instructor_course' course.id %}">{{ course.catalog_id_str }}</a>
&gt;
<a href="{% url 'instructor_assignment' assignment.id %}">{{ assignment.name }}</a>
<!-- end demograder/instructor/assignment.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/assignment.html:content -->
<div id="admin_panel">
    <a href="{% url 'admin:demograder_assignment_change' assignment.id %}">assignment admin</a>
    <a href="{% url 'instructor_assignment_regrade' assignment.id %}">assignment admin</a>
</div>

<h2>{{ assignment.name }}</h2>

<table>
    <tr>
        <th>Student</th>
        {% for project in projects %}
        <th><a href="{% url 'instructor_project' project.id %}">{{ project.name }}</a></th>
        {% endfor %}
        <th>Grade</th>
    </tr>
    {% for student, submissions, grade in student_scores %}
    <tr>
        <td><a href="{% url 'instructor_student' student.id %}">{{ student.full_name }}</a></td>
        {% for submission in submissions %}
        <td>
            {% if submission.score_str %}
            <a href="{% url 'submission' submission.id %}">{{ submission.score_str }}</a>
            {% endif %}
        </td>
        {% endfor %}
        <td style="text-align:right;">{{ grade }}</td>
    </tr>
    {% endfor %}
</table>
<!-- end demograder/instructor/assignment.html:content -->
{% endblock %}
