{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/course.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Home</a>
<!-- end demograder/instructor/course.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/course.html:content -->
<h2>{{ course.catalog_id}}: {{ course.title }}</h2>

<table>
	<tr>
		<td style="border-style:none;">

			<h3>Students</h3>
			<ul>
				{% for student in students %}
					<li><a href="{% url 'instructor_student' student.id %}">{{ student.name }}</a></li>
				{% endfor %}
			</ul>

		</td>
		<td style="border-style:none;">

			<h3>Assignments</h3>
			{% if assignments %}
				{% for assignment in assignments %}
					<h4>{{ assignment.name }}</h4>
					<ul>
						{% for project in assignment.projects %}
							{% if not project.hidden or user.is_superuser %}
								<li>
									<a href="{% url 'project' project.id %}">{{ project.name }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endfor %}
			{% else %}
				This course currently has no projects.
			{% endif %}

		</td>
	</tr>
</table>
<!-- end demograder/instructor/course.html:content -->
{% endblock %}
