{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/course.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
&gt;
{{ course.semester_str }}
&gt;
<a href="{% url 'instructor_course' course.id %}">{{ course.catalog_id_str }}</a>
<!-- end demograder/instructor/course.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/course.html:content -->
<div id="admin_panel">
    <a href="{% url 'admin:demograder_course_change' course.id %}">course admin</a>
    <a href="{% url 'course' course.id %}">student view</a>
</div>

<h2>{{ course.catalog_id_str }}: {{ course.title }}</h2>

<table>
    <tr>
        <td style="border-style:none; vertical-align:top;">

            <h3>Students</h3>
            <ul>
                {% for student in students %}
                <li><a href="{% url 'instructor_student' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></li>
                {% endfor %}
            </ul>

        </td>
        <td style="border-style:none; vertical-align:top;">

            <h3>Assignments</h3>
            {% if assignments %}
            {% for assignment in assignments %}
            <h4>
                <a href="{% url 'admin:demograder_assignment_change' assignment.id %}">{{ assignment.id }}</a>:
                <a href="{% url 'instructor_assignment' assignment.id %}">{{ assignment.name }}</a>
            </h4>
            <ul>
                {% for project in assignment.projects %}
                <li>
                    <a href="{% url 'instructor_project' project.id %}">{{ project.name }}</a>
                    {% if not project.visible %}(hidden){% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            {% else %}
            This course currently has no projects.
            {% endif %}

        </td>
    </tr>
</table>
<!-- end demograder/instructor/course.html:content -->
{% endblock %}
