{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/index.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
<!-- end demograder/instructor/index.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/index.html:content -->
<h2>Instructor Home</h2>

<p><a href="{% url 'instructor_submissions' %}">Submissions</a></p>

<h3>Courses</h3>

<ul>
	{% for course in courses %}
		<li>
			{{ course.semester_str }}
			<a href="{% url 'instructor_course' course.id %}">{{ course.catalog_id_str }}: {{ course.title }}</a>
		</li>
	{% endfor %}
</ul>
<!-- end demograder/instructor/index.html:content -->
{% endblock %}
