{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/project.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
&gt;
<a href="{% url 'instructor_course' project.course.id %}">{{ project.course.catalog_id }}</a>
&gt;
<a href="{% url 'instructor_project' project.id %}">{{ project.name }}</a>
<!-- end demograder/instructor/project.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/project.html:content -->
<h2>Project: {{ project.name }}</h2>

<table>
	<tr>
		<th>Student</th>
		<th>Submission Time</th>
		<th>Score</th>
	</tr>
	{% for submission in submissions %}
		<tr>
			<td><a href="{% url 'instructor_student' submission.student.id %}">{{ submission.student.name }}</a></td>
			<td>{{ submission.isoformat }}</td>
			<td>
				{% if submission.id %}
					<a href="{% url 'submission' submission.id %}">{{ submission.score }}/{{ submission.max_score }}</a>
				{% else %}
					{{ submission.score }}/{{ submission.max_score }}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>

<!-- end demograder/instructor/project.html:content -->
{% endblock %}
