{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/project.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
&gt;
{{ course.semester_str }}
&gt;
<a href="{% url 'instructor_course' course.id %}">{{ course.catalog_id_str }}</a>
&gt;
<a href="{% url 'instructor_assignment' assignment.id %}">{{ assignment.name }}</a>
&gt;
<a href="{% url 'instructor_project' project.id %}">{{ project.name }}</a>
<!-- end demograder/instructor/project.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/project.html:content -->
<div id="admin_panel">
    <a href="{% url 'admin:demograder_project_change' project.id %}">project admin</a>
    <a href="{% url 'project' project.id %}">student view</a>
    <a href="{% url 'instructor_project_regrade' project.id %}">regrade project</a>
</div>

<h2>Project: {{ project.name }}</h2>

<table>
    <tr>
        <th>Student</th>
        <th>Submission Time</th>
        <th>Score</th>
    </tr>
    {% for submission in submissions %}
    <tr>
        <td><a href="{% url 'instructor_student' submission.student.id %}">{{ submission.student.first_name }} {{ submission.student.last_name }}</a></td>
        <td><a href="{% url 'submission' submission.id %}">{{ submission.iso_format }}</a></td>
        <td>{{ submission.score }}/{{ submission.max_score }}</td>
    </tr>
    {% endfor %}
</table>

<!-- end demograder/instructor/project.html:content -->
{% endblock %}
