{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/student.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
&gt;
<a href="{% url 'instructor_student' student.id %}">{{ student.name }}</a>
<!-- end demograder/instructor/student.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/student.html:content -->
<h2>Student: {{ student.name }}</h2>

<h3>Project Grades</h3>

<table>
	<tr>
		<th>Project</th>
		<th>Submission Time</th>
		<th>Score</th>
	</tr>
	{% for submission in grades %}
		<tr>
			<td><a href="{% url 'instructor_project' submission.project.id %}">{{ submission.project.name }}</a></td>
			<td>{{ submission.isoformat }}</td>
			<td>
				{% if submission.id %}
					<a href="{% url 'submission' submission.id %}">{{ submission.score }}/{{ submission.max_score }}</a></td>
				{% else %}
					{{ submission.score }}/{{ submission.max_score }}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>

<h3>Submission History</h3>

{% if submissions %}
	<table>
		<tr>
			<th>Project</th>
			<th>Submission Time</th>
			<th>Score</th>
		</tr>
		{% for submission in submissions %}
			<tr>
				<td><a href="{% url 'instructor_project' submission.project.id %}">{{ submission.project.name }}</a></td>
				<td>{{ submission.isoformat }}</td>
				<td><a href="{% url 'submission' submission.id %}">{{ submission.score }}/{{ submission.max_score }}</a></td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>This student has not submitted anything.</p>
{% endif %}
<!-- end demograder/instructor/student.html:content -->
{% endblock %}
