{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/student.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
&gt;
<a href="{% url 'instructor_student' student.id %}">{{ student.first_name }} {{ student.last_name }}</a>
<!-- end demograder/instructor/student.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/student.html:content -->
{% if user.is_superuser %}
<div id="admin_panel">
    <a href="{% url 'admin:auth_user_change' student.user.id %}">user admin</a>
    <a href="{% url 'admin:demograder_person_change' student.id %}">person admin</a>
</div>
{% endif %}

<h2>Student: {{ student.first_name }} {{ student.last_name }}</h2>

<h3>Project Grades</h3>

<table>
    <tr>
        <th>Project</th>
        <th>Submission Time</th>
        <th>Score</th>
    </tr>
    {% for submission in grades %}
    <tr>
        <td>
            <a href="{% url 'instructor_course' submission.project.assignment.course.id %}">{{ submission.project.assignment.course }}</a>
            <a href="{% url 'instructor_assignment' submission.project.assignment.id %}">{{ submission.project.assignment.name }}</a>:
            <a href="{% url 'instructor_project' submission.project.id %}">{{ submission.project.name }}</a>
        </td>
        <td>
            {% if submission.score_str %}
            <a href="{% url 'submission' submission.id %}">{{ submission.iso_format }}</a>
            {% endif %}
        </td>
        <td>
            {% if submission.score_str %}
            {{ submission.score_str }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Submission History</h3>

{% if submissions %}
<table>
    <tr>
        <th>Project</th>
        <th>Submission Time</th>
        <th>Score</th>
    </tr>
    {% for submission in submissions %}
    <tr>
        <td>
            <a href="{% url 'instructor_course' submission.project.assignment.course.id %}">{{ submission.project.assignment.course }}</a>
            <a href="{% url 'instructor_assignment' submission.project.assignment.id %}">{{ submission.project.assignment.name }}</a>:
            <a href="{% url 'instructor_project' submission.project.id %}">{{ submission.project.name }}</a>
        </td>
        <td>
            {% if submission.score_str %}
            <a href="{% url 'submission' submission.id %}">{{ submission.iso_format }}</a>
            {% endif %}
        </td>
        <td>
            {% if submission.score_str %}
            {{ submission.score_str }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>This student has not submitted anything.</p>
{% endif %}
<!-- end demograder/instructor/student.html:content -->
{% endblock %}
