{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/submissions.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
<!-- end demograder/instructor/submissions.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/submissions.html:content -->
<h2>Submissions</h2>

<table>
	<tr>
		<th>Student</th>
		<th>Project</th>
		<th>Submission Time</th>
		<th>Score</th>
	</tr>
	{% for submission in submissions %}
		<tr>
			<td><a href="{% url 'instructor_student' submission.student.id %}">{{ submission.student.full_name }}</a></td>
			<td>
				<a href="{% url 'instructor_assignment' submission.project.assignment.id %}">{{ submission.project.assignment }}</a>:
				<a href="{% url 'instructor_project' submission.project.id %}">{{ submission.project.name }}</a>
			</td>
			<td>{{ submission.iso_format }}</td>
			<td><a href="{% url 'submission' submission.id %}">{{ submission.score }}/{{ submission.max_score }}</a></td>
		</tr>
	{% endfor %}
</table>
<!-- end demograder/instructor/submissions.html:content -->
{% endblock %}
