{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/instructor/submissions.html:breadcrumb -->
<a href="{% url 'instructor_index' %}">Instructor Home</a>
<!-- end demograder/instructor/submissions.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/instructor/submissions.html:content -->
<div id="admin_panel">
    <a href="{% url 'instructor_tbd_regrade' %}">regrade TBDs</a>
    <a href="{% url 'instructor_clear_queue' %}" onclick="confirm('Are you sure you want to clear the evaluation queue?');">clear queue</a>
</div>

<h2>TBD Results (showing {{ num_tbd_shown }} of {{ tbd_size }})</h2>

<p>{{ tbd_size }} TBD ({{ queue_size }} in queue)</p>

{% if tbd_results %}
<table>
    <tr>
        <th>Student</th>
        <th>Course</th>
        <th>Project</th>
        <th>Submission</th>
        <th>Result</th>
    </tr>
    {% for result in tbd_results %}
    <tr>
        <td><a href="{% url 'instructor_student' result.student.id %}">{{ result.student.full_name }}</a></td>
        <td><a href="{% url 'course' result.course.id %}">{{ result.course }}</a></td>
        <td>
            <a href="{% url 'instructor_assignment' result.assignment.id %}">{{ result.assignment.name }}</a>:
            <a href="{% url 'instructor_project' result.project.id %}">{{ result.project.name }}</a>
        </td>
        <td><a href="{% url 'submission' result.submission.id %}">{{ result.submission.iso_format }}</a></td>
        <td><a href="{% url 'result' result.id %}">{{ result.result_iso_format }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no TBD results.</p>
{% endif %}
<!-- end demograder/instructor/submissions.html:content -->
{% endblock %}
