{% extends 'demograder/base.html' %}

{% block breadcrumb %}
<!-- begin demograder/index.html:breadcrumb -->
<a href="{% url 'index' %}">Home</a>
<!-- end demograder/index.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin registration/login.html:content -->
<h2>Welcome!</h2>

<div class="alert alert-info" style="text-align:center;">
    <h3 style="margin:auto auto;"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a> to begin.</h3>
</div>

<p>or if you are an admin:</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<!-- end registration/login.html:content -->
{% endblock %}
