{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/course.html:breadcrumb -->
<a href="{% url 'index' %}">Home</a>
&gt;
{{ course.semester_str }}
&gt;
<a href="{% url 'course' course.id %}">{{ course.catalog_id_str }}</a>
<!-- end demograder/course.html:breadcrumb -->
{% endblock %}


{% block content %}
<!-- begin demograder/course.html:content -->
{% if is_instructor %}
<div id="admin_panel">
    {% user.is_superuser %}<a href="{% url 'admin:demograder_course_change' course.id %}">course admin</a>{% endif %}
    <a href="{% url 'instructor_course' course.id %}">instructor view</a>
</div>
{% endif %}

<h2>{{ course.catalog_id_str }}: {{ course.title }}</h2>

<h3>Assignments</h3>

{% if assignments %}
<table id="assignment-table">
    {% for assignment, assignment_score, submissions in assignments %}
    <tr>
        <td>
            <h4>
                {% if is_instructor %}
                <a href="{% url 'instructor_assignment' assignment.id %}">{{ assignment.name }}</a>
                {% else %}
                {{ assignment.name }}
                {% endif %}
                (current score: {{ assignment_score }})
            </h4>
        </td>
        <td class="due-date">
            due {{ assignment.us_format }}
        </td>
    </tr>
    {% for submission in submissions %}
    <tr>
        <td class="project-name">
            <ul><li>
                <a href="{% url 'project' submission.project.id %}">{{ submission.project.name }}</a>
                {% if is_instructor and not submission.project.visible %}(hidden){% endif %}
            </li></ul>
        </td>
        <td class="project-summary" style="border-style:none">
            {% if submission.score_str %}
            <div class="summary-bar" title="{{ submission.project.name }}: {{ submission.num_tbd }} of {{ submission.max_score }} tests TBD">
                <div class="summary-passed" style="width:{% widthratio submission.num_passed submission.max_score 100 %}%;" title="{{ submission.project.name }}: {{ submission.num_passed }} of {{ submission.max_score }} tests passed"></div>
                <div class="summary-failed" style="width:{% widthratio submission.num_failed submission.max_score 100 %}%;" title="{{ submission.project.name }}: {{ submission.num_failed }} of {{ submission.max_score }} tests failed"></div>
            </div>
            {% else %}
            <div class="summary-bar" title="{{ submission.project.name }}: no submission"></div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% else %}
This course currently has no assignments.
{% endif %}
<!-- end demograder/course.html:content -->
{% endblock %}
