{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/course.html:breadcrumb -->
<a href="{% url 'index' %}">Home</a>
&gt;
{{ course.semester_str }}
&gt;
<a href="{% url 'course' course.id %}">{{ course.catalog_id_str }}</a>
<!-- end demograder/course.html:breadcrumb -->
{% endblock %}


{% block content %}
<!-- begin demograder/course.html:content -->
<h2>{{ course.catalog_id_str }}: {{ course.title }}</h2>

<h3>Assignments</h3>

{% if assignments %}
<table id="assignment-table">
    {% for assignment, submissions in assignments %}
    <tr colspan="2"><td colspan="2">
            {% if user.is_superuser %}
            <h4><a href="{% url 'instructor_assignment' assignment.id %}">{{ assignment.name }}</a> (due {{ assignment.us_format }})</h4>
            {% else %}
            <h4>{{ assignment.name }} (due {{ assignment.us_format }})</h4>
            {% endif %}
        </td></tr>
        {% for submission in submissions %}
        {% if submission.project.visible or user.is_superuser %}
        <tr>
            <td class="project-name">
                <ul><li>
                    <a href="{% url 'project' submission.project.id %}">{{ submission.project.name }}</a>
                    {% if submission.max_score %}(current score: {{ submission.score_str }}){% endif %}
                    {% if not submission.project.visible %}(hidden){% endif %}
                </li></ul>
            </td>
            <td class="project-summary">
                {% if submission.max_score %}
                <div class="summary-bar" title="{{ submission.project.name }}: {{ submission.num_tbd }} of {{ submission.max_score }} tests TBD">
                    <div class="summary-passed" style="width:{% widthratio submission.num_passed submission.max_score 100 %}%;" title="{{ submission.project.name }}: {{ submission.num_passed }} of {{ submission.max_score }} tests passed"></div>
                    <div class="summary-failed" style="width:{% widthratio submission.num_failed submission.max_score 100 %}%;" title="{{ submission.project.name }}: {{ submission.num_failed }} of {{ submission.max_score }} tests failed"></div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
</table>
{% else %}
This course currently has no projects.
{% endif %}
<!-- end demograder/course.html:content -->
{% endblock %}
