{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin project_list.html:breadcrumb -->
<a href="{% url 'index' %}">Home</a>
&gt;
<a href="{% url 'course' course.id %}">{{ course.catalog_id }}</a>
<!-- end project_list.html:breadcrumb -->
{% endblock %}


{% block content %}
<!-- begin project_list.html:content -->
<h2>{{ course.catalog_id}}: {{ course.title }}</h2>

<h3>Projects</h3>

{% if projects %}
	<ul>
		{% for project in projects %}
			{% if not project.hidden or user.is_superuser %}
				<li>
					<a href="{% url 'project' project.id %}">{{ project.name }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% else %}
	This course currently has no projects.
{% endif %}
<!-- end project_list.html:content -->
{% endblock %}
