{% extends "demograder/base.html" %}

{% block breadcrumb %}
<!-- begin demograder/display.html:breadcrumb -->
<a href="{% url 'index' %}">Home</a>
&gt;
{{ course.semester_str }}
&gt;
<a href="{% url 'course' course.id %}">{{ course.catalog_id_str }}</a>
&gt;
{% if is_instructor %}
<a href="{% url 'instructor_assignment' assignment.id %}">{{ assignment.name }}</a>
{% else %}
{{ assignment.name }}
{% endif %}
&gt;
<a href="{% url 'project' project.id %}">{{ project.name }}</a>
&gt;
<a href="{% url 'submission' submission.id %}">{{ submission.iso_format }} submission</a>
&gt;
<a href="{% url 'display' upload.id %}">{{ upload.basename }}</a>
<!-- end demograder/display.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin demograder/display.html:content -->
<h2><code>{{ upload.basename }}</code></h2>
<p>
    From
    {% if user.is_superuser %}
    <a href="{% url 'instructor_student' submission.student.id %}">{{ submission.student.full_name }}</a>'s
    {% elif is_instructor %}
    {{ submission.student.full_name }}'s
    {% else %}
    your
    {% endif %}
    <a href="{% url 'submission' submission.id %}">submission on {{ submission.us_format }}</a>
    to <a href="{% url 'project' submission.project.id %}">{{ submission.project.name }}</a>
</p>
<p style="text-align:right;"><a href="{% url 'download' upload.id %}">Download</a></p>
<style>
    .prettyprinted ol {counter-reset:decimalOnly;}
    .prettyprinted li {counter-increment:decimalOnly; position:relative;}
    .prettyprinted li:before {content:counter(decimalOnly); margin-right:5px; position:absolute; right:100%;}
    .prettyprinted li {list-style-type:" " !important; background:transparent !important;}
    .prettyprinted li:hover {background:#EEEEEE !important;}
</style>
<pre class="prettyprint linenums">{{ contents }}</pre>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<!-- end demograder/project.html:content -->
{% endblock %}
