{% extends "demograder/student.html" %}

{% block breadcrumb %}
<!-- begin project_upload.html:breadcrumb -->
<a href="{% url 'index' %}">Home</a>
&gt;
<a href="{% url 'course' course.id %}">{{ course.department.catalog_code }} {{ course.course_number }}</a>
&gt;
<a href="{% url 'project' project.id %}">{{ project.name }}</a>
&gt;
<a href="{% url 'project_upload' project.id %}">Upload</a>
<!-- end project_upload.html:breadcrumb -->
{% endblock %}

{% block content %}
<!-- begin project_upload.html:content -->
<h2>{{ project.title }}</h2>

<h3>{{ student.name }}</h3>

<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'project_submit' project.id %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>{{ form.non_field_errors }}</p>
	<p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
	<p>
	{{ form.file.errors }}
	{{ form.file }}
	</p>
	<p><input type="submit" value="Upload" /></p>
</form>
<!-- end project_upload.html:content -->
{% endblock %}
