<h1>
	<a href="/demograder">All Courses</a>
	&gt;
	<a href="/demograder/courses/{{ course.id }}">[{{ course.year }} {{ course.get_season_display }}] ({{ course.department.catalog_code }} {{ course.course_number }}) {{ course.title }}</a>
	&gt;
	{{ project.name }}
</h1>
<h2>{{ project.name }}</h2>
<h3>{{ student.name }}</h3>

<!-- Upload form. Note enctype attribute! -->
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>{{ form.non_field_errors }}</p>
	<p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
	<p>
	{{ form.file.errors }}
	{{ form.file }}
	</p>
	<p><input type="submit" value="Upload" /></p>
</form>
